@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-montserrat : "Montserrat", sans-serif;

  --color-red: #FC3314;
  --color-pink: #FFD4D0;
  --color-dark: #1F1F1F;
  --color-dark-grey: #8D8D8D;
  --color-grey-medium: #E1E1E1;
  --color-grey: #F7F7F7;
}

@layer base {
  h1 {
    @apply justify-start text-neutral-800 text-6xl font-bold font-montserrat leading-[70.40px];
  }

  h2 {
    @apply justify-start text-neutral-800 text-5xl font-bold font-montserrat leading-[52.80px] mb-5 text-center;
  }

  h3 {
    @apply justify-start text-neutral-800 text-4xl font-bold font-montserrat leading-10;
  }

  h4 {
    @apply text-6xl font-bold font-montserrat leading-24 text-pink text-center;
  }

  h5 {
    @apply self-stretch justify-start text-stone-900 text-xl font-normal font-montserrat leading-8;
  }

  p {
    @apply self-stretch justify-start text-stone-900 text-base font-normal font-montserrat leading-6;
  }
}

@layer components {
  .btn-black {
    @apply min-w-44 px-9 py-3 bg-dark text-white font-black cursor-pointer;
  }

  .btn-white {
    @apply min-w-44 px-9 py-3 bg-white outline -outline-offset-1 outline-black font-black cursor-pointer;
  }

  .nav-item {
    @apply mr-5 text-lg font-bold font-montserrat leading-6 hover:underline hover:underline-offset-8;
  }

  .aboutMe-p {
    @apply text-white text-lg font-bold font-montserrat leading-6 text-center;
  }

  .container {
    @apply max-w-400 mx-auto w-full;
  }

  .porto-item {
    @apply w-full min-h-50;
  }
}